@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    margin-left: 25vw;
    margin-right: 25vw;
}

/* Title */
h1 {animation: letterSpacingAnimation 0.9s forwards;}

@keyframes letterSpacingAnimation {
    from {letter-spacing: -0.75rem;}
    to {letter-spacing: -0.16rem;}
}

/* Inputs */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    margin-top: 10rem;
    margin-bottom: 2rem;

    transition: all 1s;
}

label {text-align: center;}

label:hover {cursor: text}

.input-group {
    width: 100%;
    display: flex;
    gap: 7px;
}

input {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;

    transition: all 0.5s;
}

/* Submit Button */
#submit {
    width: 15%;
    background-color: black;
    border-color: black;
    color: white;
    font-weight: 500;
}

#submit:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#submit.animate {
    animation: submitClick 0.7s ease-in-out forwards;

}

@keyframes submitClick {
    0% {
        background-color: black;
        border-color: black;
    }
    10% {
        background-color: red;
        border-color: red;
    }
    20% {
        background-color: yellow;
        border-color: yellow;
    }
    30% {
        background-color: deepskyblue;
        border-color: deepskyblue;
    }
    100% {
        background-color: black;
        border-color: black;
    }
}

/* URL Input */
#url {width: 85%;}

#url:hover {border-color: black;}

#url:focus {
    border: 1px solid black;
    outline: none;
}

/* Output Keyframes */
@keyframes fadeIn {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {
        opacity: 0;
        display: none;
    }
}

/* Loading Icon */
@keyframes loadingAnimation {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(5px);}
    100% {transform: translateY(0px);}
}

#loading {
    display: none;
    width: auto;
    margin-top: 2rem;
}

#loading.show {
    animation: fadeIn 1s forwards;
    display: flex;
    gap: 10px;
}

.loading-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;

    animation: loadingAnimation 1s infinite;
}

.loading-dot:nth-child(1) {animation-delay: 0s;}
.loading-dot:nth-child(2) {animation-delay: 0.2s;}
.loading-dot:nth-child(3) {animation-delay: 0.4s;}

/* Song Card */
#song-card {
    display: none;
    background-color: #f0f0f0;
    min-width: 50%;
    max-width: 75%;
    height: 30vh;
    border-radius: 10px;

    margin-top: 5vh;
    padding: 1rem;
    transition: all 0.5s;
}

#song-card.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cover {
    width: 140px;
    height: 140px;
    border-radius: 5px;

    transition: all 0.5s;
}

#cover:hover {
    transform: scale(1.03);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.link-holder {
    display: flex;
    gap: 10px;
}

.cover-and-links {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.05rem;
    margin: 0.5rem 0 0.5rem;
}

h3 {
    font-weight: 500;
    letter-spacing: -0.01rem;

    margin: 0;
}

.icon {width: 30px;}

.icon-link {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.icon-link:hover {transform: scale(1.05);}

/* Error Messages */
#error {
    margin-top: 2rem;
    display: none;
}

#error.show {
    display: flex;
    flex-direction: column;
}

#no-song-error {
    margin-top: 2rem;
    display: none;
}

#no-song-error.show {
    display: flex;
    flex-direction: column;
}

.text-block {
    line-height: 1.15rem;
    margin-top: 2rem;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    color: #bebebe
}

.footer-link {
    color: #bebebe;
    text-decoration: none;

    transition: all 0.5s;
}

.footer-link:hover {color: black;}

/* Media Queries */

@media (max-width: 1200px) {
    body {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media (max-width: 748px) {

    #submit {width: 25%}

    #url {width: 75%;}

    #song-card {width: 75%;}

    .cover {
        width: 100px;
        height: 100px;
    }

    .icon {width: 25px;}
}