@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    margin-left: 25vw;
    margin-right: 25vw;
}

/* Title */
h1 {animation: letterSpacingAnimation 0.75s forwards;}

@keyframes letterSpacingAnimation {
    from {letter-spacing: 0;}
    to {letter-spacing: -0.1875rem;}
}

/* Inputs */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    margin-top: 5rem;
    margin-bottom: 2rem;
}

.input-group {
    width: 100%;
    display: flex;
    gap: 5px;
}

input {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;

    transition: all 0.5s;
}

/* Submit Button */
#submit {width: 15%}

#submit:hover {
    background-color: black;
    border-color: black;
    color: white;
    transform: scale(1.05);
    font-weight: 500;
}

/* URL Input */
#url {width: 85%;}

#url:hover {border-color: black;}

#url:focus {
    border: 1px solid black;
    outline: none;
}

/* Song Card */
#song-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    width: 50%;
    height: 30vh;
    border-radius: 10px;

    margin-top: 5vh;
    padding: 1rem;
}

.cover {
    width: 140px;
    height: 140px;

    transition: all 0.5s;
}

.cover:hover {transform: scale(1.03)}

.link-holder {
    display: flex;
    gap: 10px;
}

.cover-and-links {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0.5rem 0 0.5rem;
}

h3 {margin: 0;font-weight: 500;}

.icon {
    width: 30px;
}

.icon-link {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.icon-link:hover {transform: scale(1.05);}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
}

.footer {
    color: #cccccc;
}

.footer-link {
    color: #cccccc;
    text-decoration: none;

    transition: all 0.5s;
}

.footer-link:hover {color: black;}

/* Media Queries */

@media (max-width: 1100px) {
    body {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #submit {width: 25%}

    #url {width: 75%;}

    #song-card {width: 75%;}

    .cover {
        width: 100px;
        height: 100px;
    }

    .icon {width: 25px;}
}